<div class="container">
  <div class="row">


        <div class="col-xs-12 col-md-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= image_url "orders.jpg" %>');">
            <a class="card-link" href=<%= user_orders_path(current_user) %> ></a>
            <div class="card-description">
              <h2>Orders</h2>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= image_url "staff.jpeg" %>');">
            <a class="card-link" href=<%= users_path %> ></a>
            <div class="card-description">
              <h2>Staff</h2>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= image_url "meal.jpeg" %>');">
            <a class="card-link" href=<%= edit_menu_pages_path  %> ></a>
            <div class="card-description">
              <h2>Edit Menu</h2>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= image_url "statistics.jpg" %>');">
            <a class="card-link" href=<%= statistics_pages_path %> ></a>
            <div class="card-description">
              <h2>Statistics</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
