<%# @items.each do |item| %>
   <!-- <%#= link_to item.name, cart_path(item_id: item.id), method: :post %><br> -->
  <!-- MENU PAGE  -->
<%# end %>

<%#= link_to "Create Meal", new_user_order_path(current_user), class:"btn btn-primary" %>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-2">
      <ul id="list-home-page">
        <li>
          <%= link_to menu_pages_path(category: "burgers"), method: :get do %>
            <%= image_tag "burger.jpg" %>
          <% end %>
        </li>
        <li>
          <%= link_to menu_pages_path(category: "chicken_sandwiches") do %>
            <%= image_tag "chicken.jpg" %>
          <% end %>
        </li>
        <li>
          <%= link_to menu_pages_path(category: "sides") do %>
            <%= image_tag "sides.jpg" %>
          <% end %>
        </li>
        <li>
          <%= link_to menu_pages_path(category: "drinks") do %>
            <%= image_tag "drinks.jpg" %>
          <% end %>
        </li>
        <li>
          <%= link_to menu_pages_path(category: "shakes") do %>
            <%= image_tag "shakes.jpg" %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-7">
      <div class="burgers">

      <% @items.each do |item| %>
      <div class="col-md-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/xxxxxx.jpeg');">
          <div class="card-description">
            <!-- <h3>Cheese Bacen burger</h3> -->
              <h3><%= item.name %></h3>
          </div>
          <div class="card-price">
            <h2><%= item.price %></h2>
            <!-- <img class="cart" src="images/xxxx.jpeg"> -->
            <%= link_to cart_path(item_id: item.id, category: params[:category]), method: :post do %>
              <%= image_tag "images/xxxx.jpeg", class: "cart" %>
            <% end %>
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="card"style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/xxxxxx.jpeg');">
          <div class="card-description">
            <h3>Ordering List</h3>
          </div>

          <div class="item_price_list">
            <% @items_list.each do |item| %>
              <%= item.first %>: <%= item[1][:count] %><br>
            <% end %>
            <%= link_to new_user_order_path(current_user) , class:"card-link" do %>
              <%= image_tag "images/xxxx.jpeg", class: "Payment" %>
            <% end %>
            <h3>Total: </h3> <%= @bill %>
          </div>
      </div>
    </div>

</div>



